@import "mocha.css";
* {
    border-radius: 0;
    font-family: 'Operator Mono SSm Book';
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
    background: @surface0;
    color: @text;
}

tooltip {
	background: @surface0;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: @lavender;
	}

#workspaces {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#workspaces button {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 0;
    color: @text;
}

#workspaces button.focused {
    color: @sapphire;
}

#workspaces button.urgent {
    color: @yellow;
}

#workspaces button:hover {
    background: @surface1;
    border-color: @surface1;
	color: @teal;
}

#clock, #battery, #pulseaudio, #workspaces, #network ,#clock, #mpd, #tray, #cpu, #disk, #memory {
	padding: 2px 10px;
}


#clock, #battery, #pulseaudio, #workspaces, #backlight ,#clock, #network, #mpd, #tray, #cpu, #disk, #memory {
    background: @surface1;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mpd {
    color: @mauve;
	padding: 2px 15px;
	border-radius: 15px;
    margin: 5px;
}

#backlight {
    color: @yellow;
    padding-left: 15px;
    padding-right: 2px;
    border-radius: 15px 0px 0px 15px;
}

#battery {
    color: @pink;
}

#pulseaudio {
    color: @teal;
}

#network {
    color: @green;
}

#clock {
    color: @mauve;
}

#tray {
    margin-right: 5px;
    padding-right: 15px;
    border-radius: 0px 15px 15px 0px;
}

#cpu {
    color: @blue;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 15px 0px 0px 15px;
}

#memory {
    color: @lavender;
}

#disk {
    color: @sapphire;
    margin-right: 5px;
    padding-right: 15px;
    border-radius: 0px 15px 15px 0px;
}