.power-btn, .reboot-btn, .lock-btn, .logout-btn {
    background-color: $crust;
    font-size: 2em;
    font-weight: bold;
	border-radius: 5px;
	min-height: 78px;
}
.power-btn {
    color: $red;
}
.power-btn:hover {
    color: $pink;
}

.reboot-btn {
    color: $sky;
}
.reboot-btn:hover {
    color: $sapphire;
}

.lock-btn {
    color: $yellow;
}
.lock-btn:hover {
    color: $peach;
}

.logout-btn {
    color: $green;
}
.logout-btn:hover {
    color: $rosewater;
}